# WIFI
WIFI_SSID = 'your-wifi-ssid'
WIFI_PASSWORD = 'your-wifi-password'

# MQTT
MQTT_SERVER = '192.168.1.your-mqtt-server'
MQTT_PORT = 1883
MQTT_USER = 'your-user'
MQTT_PASS = 'your-pass'

MQTT_MARAX_UART_STATUS = 'marax/uart/data'
MQTT_MARAX_PUMP_STATUS = 'marax/pump/status'
